# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/
.venv/

# FAISS index storage
faiss_index/

# OS-specific
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

docs/
other_scripts/